.financeSection {
  padding: 1rem;
  background-color: #ffffff;
  border-radius: 1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 35vw;

  .financeSection_overview {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h3 {
      font-size: 1.5rem;
      color: #333;
      margin-bottom: 1rem;
      border-bottom: 2px solid var(--Color, #0d296e);
      padding-bottom: 0.5rem;
    }

    .infoBoxContainer {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 2rem;
      padding: 1rem 0;
    }
  }

  .financeSection_chart {
    padding: 1rem;
    background: #ffffff;
    border-radius: 12px;
  }

  // Responsividade
  @media (max-width: 1024px) {
    width: 70vw;

    .financeSection_overview {
      h3 {
        font-size: 1.4rem;
      }
      .infoBoxContainer {
        gap: 1rem;
      }
    }

    .financeSection_chart {
      padding: 0.8rem;
    }
  }

  @media (max-width: 768px) {
    width: 90vw;
    padding: 0.8rem;

    .financeSection_overview {
      flex-direction: column;
      align-items: flex-start;

      h3 {
        font-size: 1.3rem;
        margin-bottom: 0.5rem;
        padding-right: 0;
      }

      .infoBoxContainer {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 0.5rem 0;
      }
    }

    .financeSection_chart {
      padding: 0.8rem;
    }
  }

  @media (max-width: 480px) {
    width: 100vw;
    padding: 0.5rem;

    .financeSection_overview {
      h3 {
        font-size: 1.2rem;
      }

      .infoBoxContainer {
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5rem;
        padding: 0.5rem 0;
      }
    }

    .financeSection_chart {
      padding: 0.5rem;
    }
  }
}
