.container {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  width: auto;
}

.column {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 1rem;
}

.draggableComponent {
  padding: 1rem;
  border-radius: 5px;
  cursor: grab;
}
