/* Importando outros arquivos SCSS */
@import "reset";
@import "variables";
@import "mixins";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.app-container {
  font-family: $font-stack;
  a {
    text-decoration: none;
    color: $black;
  }
  .main-content {
    margin: 2rem 7rem;
  }
}
