/* Variáveis de exemplo */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

$black: #000000;
$active_blue: #0d296e;
$active_green: #7fbe41;
$primary-color: #3498db;
$secondary-color: #2ecc71;
$font-stack: "Montserrat", sans-serif;
