@import "../../../Styles/variables";

.header {
  width: 100%;
  padding: 0.5rem 7em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  border-radius: 0 0 20px 20px;
  background: var(--Branco, #fff);
  box-shadow: 0 -3px 21px 0 var(--Color, #0d296e);

  .nav {
    width: 25vw;

    .nav_ul {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      list-style: none;
      padding: 0;
      margin: 0;
    }

    .nav_li {
      cursor: pointer;

      &_active {
        color: #0d296e;
        font-weight: 600;
      }

      &:hover {
        text-decoration: none;
        color: inherit;
        color: #7fbe41;
        font-weight: 500;
        transition: color 0.2s ease-in-out;
      }

      a {
        text-decoration: none;
        color: inherit;
      }
    }
  }

  // Responsividade para telas maiores
  @media (max-width: 1440px) {
    padding: 0.5rem 5em;
    .nav {
      width: 50vw;
    }
  }

  @media (max-width: 1200px) {
    padding: 0.5rem 3em;

    .nav {
      width: 50vw;
    }
  }

  // Responsividade para tablets
  @media (max-width: 1024px) {
    padding: 0.5rem 2em;

    .nav {
      width: 50vw;
    }

    .nav_ul {
      flex-direction: column;
      align-items: center;
      gap: 0.5rem;
    }
  }

  // Responsividade para dispositivos móveis
  @media (max-width: 768px) {
    padding: 0.5rem 1em;
    flex-direction: column;
    align-items: flex-start;

    .nav {
      width: 100%;
      margin-top: 1rem;
    }

    .nav_ul {
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
    }

    .nav_li {
      width: 100%;
      text-align: left;
    }
  }

  @media (max-width: 576px) {
    padding: 0.5rem 0.5em;

    .nav {
      width: 100%;
    }

    .nav_ul {
      flex-direction: column;
      gap: 0.8rem;
    }
  }

  @media (max-width: 480px) {
    padding: 0.5rem 0.5em;

    .nav_ul {
      gap: 1rem;
    }

    .nav_li {
      width: 100%;
      text-align: left;
      font-size: 0.9rem;
    }
  }
}
