.tableContainer {
    width: 100%;
    overflow-x: auto;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
  }
  
  .tableHeader {
    font-weight: 600;
    padding: 10px;
    text-align: center;
    font-size: 14px;
  }
  
  .tableRow:nth-child(even) {
    background-color: #f7f7f7 ;
    border-radius: 2px;
    margin-bottom: 0.2rem;
  }
  
  .tableCell {
    padding: 15px;
    background-color: #f7f7f7 ;
    text-align: center;
    border-radius: 2px;
  }

  .lightGrayText {
    color: #9D9D9D ;
  }

  .boldText {
    font-weight: 600;
    text-align: left;
  }