.pageContainer {
  display: flex;
  flex-direction: column; /* Organiza em coluna para ter o filtro em cima */
  gap: 1rem;
  width: 100%;
}

.container {
  display: flex;
  justify-content: space-between;

  gap: 1rem;
  width: auto;
  max-height: 85vh; 
  scrollbar-color: #000270 #f1f1f100; 
  overflow-y: auto;
  }
  .contractList {
    width: 30%; 
    border-right: 1px solid #ccc; 
    background-color: #f9f9f9
  }
  
  .detailsContainer {
    width: auto; 
    padding: 20px;
    overflow-y: auto;
    background-color: #fff;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 1rem;
  }
  
  .aboutContainer {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.aboutContainer > * {
    flex: 1;
    margin: 0 10px;
}


.container::-webkit-scrollbar {
  width: 5px;
}

.container::-webkit-scrollbar-thumb {
  background-color: #0d296e;
  border-radius: 10px;
}

.filterInput {
  width: 40%;
  background-color: rgba(235, 235, 235, 0.308);
  border: none;
  height: 100%;
  
  border-radius: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 10px;
  font-size: 1rem;
}

.filterInput:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.363);
}

.filterContainer {
  margin-bottom: 2rem;
}