.contractDetails {
    margin: 20px 0;
  
    .modules {
      title {
        font-size: 1.2rem;
      }
  
      .modulesList {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
      }
  
      .moduleItem {
        background-color: #fff;
        border: 1px solid #e0e0e0;
        border-radius: 25px;
        padding: 8px 15px;
        font-size: 0.9rem;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        white-space: nowrap;
      }
    }
  }
  
