.tableContainer {
    .table {
      .headerRow {
        display: flex;
        align-items: center;
        padding: 0.75rem 0;
        border-bottom: 2px solid #eaeaea;
        font-weight: bold;
        font-size: 14px;
        justify-content: space-between;
      }
  
      .row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 0;
        background-color: #f7f7f7;
        border-radius: 5px;
        margin-bottom: 0.3rem;
      }
    }
  
    .rankHeader, .rankCell {
      width: 10%;
      text-align: center;
      font-weight: bold;
    }
  
    .nameHeader, .nameCell {
      width: 40%;
      font-weight: bold;
    }
  
    .deviationHeader, .deviationCell {
      width: 30%;
      text-align: left;
    }
  
    .statusHeader, .statusCell {
      width: 20%;
      text-align: center;
  
      svg {
        font-size: 1.5rem;
      }
    }
  
    .icon_up {
      color: green;
    }
  
    .icon_down {
      color: red;
    }
  
    .icon_neutral {
      color: gray;
    }
  }
  