.resourceUtilization {
    .resource {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;

        &:last-child {
            margin-bottom: 0;
        }

        .resourceHeader {
            display: flex;
            align-items: center;
            flex: 1;
            min-width: 10rem;

            span {
                flex: 1;
                display: flex;
                align-items: center;
                padding-left: 1rem;
                font-weight: bold;
                font-size: 1rem;
                color: #000;
            }
        }

        .icon_expert, .icon_estagiario, .icon_junior, .icon_pleno, .icon_senior {
            font-size: 1.25rem;
            margin-right: 0.5rem;
        }
        .icon_estagiario {
            color: #E9AD52;
        }

        .icon_junior {
            color: #FF823D;
        }

        .icon_pleno {
            color: #37FD05;
        }

        .icon_senior {
            color: #A69AEA;
        }

        .icon_expert {
            color: #6349FF;
        }


        .barContainer {
            flex: 3;
            display: flex;
            align-items: center;

            .bar {
                flex: 1;
                height: 1.2rem;
                background-color: #e0e0e0;
                border-radius: 8px;
                position: relative;
                overflow: hidden;
                margin-right: 0.5rem;

                .occupied {
                    height: 100%;
                    background: rgba(13, 41, 110, 0.60);
                    border-radius: 16px 0 0 16px;
                }

                .free {
                    height: 100%;
                    background-color: #d9d9d9;
                    border-radius: 0 8px 8px 0;
                }
            }

            .percentage {
                font-size: 0.875rem; /* Ajuste o tamanho da fonte conforme necessário */
                font-weight: bold;
                color: #000; /* Cor preta */
            }
        }
    }

    .legend {
        display: flex;
        justify-content: flex-end;
        font-size: 0.75rem;
        margin-bottom: 0.5rem;
        flex-direction: row;
        gap: 1.5rem;
    
    

        .legendItem {
            &.occupied {
                color: #000;
            }

            &.free {
                color: #000;
            }
        }
       
    
}}
