.DashSection {
  padding: 1rem;
  background-color: #ffffff;
  border-radius: 1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 40vw;

  .section_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    h3 {
      font-size: 1.5rem;
      color: #333;
      margin-bottom: 1rem;
      border-bottom: 1px solid var(--Color, #0d286e5e);
      padding-bottom: 0.5rem;
    }
    .infoBoxContainer {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 1rem;
      padding: 1rem 0;
    }
  }

  .section_content {
    padding: 1rem;
    background: #ffffff;
    border-radius: 12px;
  }
}
