.calendar {
    background-color: #f0f0f0;
    border-radius: 1rem;
    padding: 3%;
    width: max-content;
    height: max-content;

  .weekDays {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    font-size: 0.9rem; // Espaçamento entre as legendas e os dias do calendário

    .weekDay {
      flex: 1;
      text-align: center;
      font-weight: bold;
      padding: 5px 0;
      color: #333; // Cor do texto das legendas dos dias
    }
  }

  .week {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 5px;
    flex-direction: row;
    gap: 1rem; // Espaçamento entre as semanas

    .day {
      width: 1.5rem;
      height: 1.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      text-align: center;
      line-height: 0.5rem;
      font-size: 0.85rem;
      color: #000;

      &.available {
        background-color: #F0F0F0; // Cor padrão para disponível
      }

      &.unavailable {
        background-color: #FF0000; // Cor padrão para indisponível
      }
    }
  }
}
