.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  gap: 1rem;

  > * {
    flex: 1 1 calc(100% - 1rem); /* Largura padrão para dispositivos móveis */
    min-width: 100%;
  }

  @media (min-width: 576px) {
    > * {
      flex: 1 1 calc(50% - 0.5rem); /* Dois componentes por linha */
      min-width: calc(50% - 0.5rem);
    }
  }

  @media (min-width: 768px) {
    > * {
      flex: 1 1 calc(50% - 1rem); /* Ajuste para tablets */
      min-width: calc(50% - 1rem);
    }
  }

  @media (min-width: 1024px) {
    > * {
      flex: 1 1 calc(50% - 1rem); /* Ajuste para tablets */
      min-width: calc(50% - 1rem);
    }
  }

  @media (min-width: 1440px) {
    > * {
      flex: 1 1 calc(33.33% - 1rem);
      min-width: calc(33.33% - 1rem);
    }
  }

  // @media (min-width: 1920px) {
  //   > * {
  //     flex: 1 1 calc(25% - 1rem); /* Quatro componentes por linha */
  //     min-width: calc(25% - 1rem);
  //   }
  // }
}
