.infoBox {
  border-radius: 12px;
  text-align: center;
  background: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 11rem;

  .infoBox_title {
    display: block;
    width: 100%;
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
    padding: 0.5rem 0;
    border-radius: 12px 12px 0 0;
  }

  .infoBox_info {
    font-size: 1rem;
    font-weight: 600;
    color: #000;
    padding: 0.5rem 0;
  }

  // Responsividade
  @media (max-width: 1024px) {
    width: 9rem;

    .infoBox_title {
      font-size: 0.9rem;
    }

    .infoBox_info {
      font-size: 0.9rem;
    }
  }

  @media (max-width: 768px) {
    .infoBox_title {
      font-size: 0.85rem;
    }

    .infoBox_info {
      font-size: 0.85rem;
    }
  }

  @media (max-width: 480px) {
    .infoBox_title {
      font-size: 0.8rem;
    }

    .infoBox_info {
      font-size: 0.8rem;
    }
  }
}
